h1, h2, h3, h4,p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
}

.text-center {
    text-align: center;
}
.small {
    font-size: 13px;
}
.tagline {
    min-height: 270px;
    display: block;
}