.button {
    border:none;
    color:#131313;
    background-color: white;
    text-decoration: none;
    &--project {
        display: inline-block;
        margin:10px;
    }
}

.cta {
    position: fixed;
    z-index: 1000;
    margin-left:-49px;
}
.js-case {
    transform: translateX(-190px);
}