.button {
    border:none;
    color:#131313;
    background-color: white;
    text-decoration: none;
    &--project {
        display: inline-block;
        margin:10px;
        text-decoration: none;
    }
}

.cta {
    position: fixed;
    z-index: 1000;
    right: 32px;
}
