.cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: white;
    z-index: 100;
    top:0;
    left:0;
} 
.link {
    cursor: pointer;
    &--projects {
        display: block;
        color:white;
    }
}
