
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.italic {
    font-style: italic;
}
.position-relative {
    position: relative;
}
.crossed {
    text-decoration: line-through;
}
.underlign {
    text-decoration: underline;
}