
// Tablet

/* @media (min-width:$tablet) {
    .section {
        &__hero {
            transform: translateY(320px);
        }
    }

} */



  
  @media (prefers-color-scheme: light) {
    body {
        background-color: $c-white;
      }
      .about-me {
        color: $c-black;
      }
      .section__projects{
        color:$c-black;
      }
      footer {
          & a {
            color:$c-black;
          }
        color:$c-black;
    }
    nav {
        color:white;
    }
  }


// Desktop
@media (min-width:$desktop) {
    .section {
        &__hero {
            display: flex;
            width: 100%;
            justify-content: space-between;
            transform:inherit;
        }
    }
    .content {
        max-width: 433px;
        display: inline-block;
    }
    .avatar {
        margin-top:100px;
    }
    
    .nav {
        margin: initial;
        float:right;
    }

    body {
        max-width: 933px;
        margin:0 auto;
    }
    .delayed-section--img {
        float: right;
    }
    .avatar {
        display: inline-block;
        margin:0 auto;
        z-index: 4;
        width: auto;
        height: auto;
        max-width: 380px;
        transform:translateX(40px)
    }
    .cta {
        margin-left:0px;
        right: inherit;
    }
    .js-case {
        transform: translateX(-160px);
    }
    .background {
        &--hero {
            width: 120%;
            top: 0;
            height: 730px;
            left: -510px;
            max-width: 1650px;
            position: absolute;
        }
        &--about {
            display:block;
        }
        &--footer {
            width: 997px;
            margin-left:-32px;
            left:inherit;
            text-align:center;
            margin-top:43px;
            p {
                margin: 0 auto;
            }
        }

    }
    .content {
        display: inline-block;
        max-width: 500px;
    }
    footer {
        flex-direction: row;
        width: 933px;
    }
}


// very large screen
@media (min-width:$large) {
    .background {
        &--hero {
            width: 210%;
            transform: translateX(-95%);
            left: 50%;
            max-width: initial;
        }
    }
}

// tight width 

@media (max-width:360px) {
    nav {
        margin-top:24px;
    }

}
