
// Tablet
@media (min-width:$tablet) {
    .reload {
        float:right
    }
}

// Desktop
@media (min-width:$desktop) {
    .hero {
        display: flex;
        width: 100%;
        justify-content: space-between;
        &__el {
            &--content {
                max-width: 433px;
                display: inline-block;
            }
            &--avatar {
                margin-top:130px;
            }
        }
    }
    .nav {
        margin: initial;
        float:right;
    }

    body {
        max-width: 933px;
        margin:0 auto;
    }
    .delayed-section--img {
        float: right;
    }
    .avatar {
        display: inline-block;
        margin:0 auto;
        z-index: 4;
        width: auto;
        height: auto;
        max-width: 401px;
    }
    .background {
        width: 100%;
        top: 0;
        height: 85%;
        left: -510px;
        max-width: 1600px;
    }
    .content {
        display: inline-block;
        max-width: 500px;
    }
    footer {
        flex-direction: row;
        width: 933px;
    }
    .gradient {
        &--footer {
            width: 997px;
            margin-left:-32px;
            left:inherit;
            p {
                margin: 0 auto;
            }
        }
    }

}

@media (min-width:$large) {
    .background {
        width: 70%;
        max-width: inherit;
    }
}